<configuration>
    <!-- 공통 로그 경로 및 파일 설정 -->
    <property name="LOG_PATH" value="./logs"/>
    <property name="LOG_FILE" value="${LOG_PATH}/application.log"/>
    <property name="MAX_HISTORY" value="30"/>

    <!-- 로그 파일 이름 분리-->
    <property name="INFO_LOG_FILE" value="${LOG_PATH}/info.log"/>
    <property name="ERROR_LOG_FILE" value="${LOG_PATH}/error.log"/>
    <property name="WARN_LOG_FILE" value="${LOG_PATH}/warn.log"/>
    <property name="DEBUG_LOG_FILE" value="${LOG_PATH}/debug.log"/>
    <property name="TRACE_LOG_FILE" value="${LOG_PATH}/trace.log"/>

    <!-- 콘솔 & 파일 출력용 로그 포맷 -->
    <property name="MDC_PATTERN" value="service=%X{service_name} request_id=%X{request_id} correlation_id=%X{correlation_id} trace_id=%X{trace_id} method=%X{http_method} uri=%X{request_uri} client_ip=%X{client_ip}"/>
    <property name="CONSOLE_LOG_DEV_PATTERN" value="%d{HH:mm:ss.SSS} [%thread] %highlight(%-5level) %cyan(%logger{36}) ${MDC_PATTERN} - %msg%n"/>
    <property name="CONSOLE_LOG_PROD_PATTERN" value="%d{yyyy-MM-dd HH:mm:ss.SSS} [%thread] %-5level %logger{36} ${MDC_PATTERN} - %msg%n"/>
    <property name="CONSOLE_LOG_DEBUG_PATTERN" value="%d{HH:mm:ss.SSS} [%thread] %highlight(%-5level) %cyan(%logger{36}) [%file:%line] ${MDC_PATTERN} - %msg%n"/>
</configuration>
