# EC2 deploy bundle 전용 값
# auth-service 앱 설정은 루트 .env.prod 에서 관리합니다.

AUTH_SERVICE_IMAGE=123456789012.dkr.ecr.ap-northeast-2.amazonaws.com/prod-auth-service:latest
AUTH_SERVICE_HOST_BIND=127.0.0.1
AUTH_SERVICE_HOST_PORT=8081
