[mysqld]
socket=/var/lib/mysql/mysql.sock

# 서버의 문자셋과 정렬 규칙 설정
character-set-server=utf8mb4
collation-server=utf8mb4_general_ci

# 외부에서의 접속을 허용
bind-address=0.0.0.0

# 시간대
default-time-zone='Asia/Seoul'